doc.txt
*.zip
*.tar.gz
*.log
*.tmp
*.pdf
*.docx
*.xlsx
*.pptx
*.exe
__pycache__/
*.pyc
convert_to_pdf.py
download/
improvement (2)\improvement\review.txt

improvement (2)\improvement\review.docx

# Folders to ignore
improvement (2)/
notebooks/
download/
sender\rsna_subset_500/
sender\reports/
sender\report_tables/
sender\report_tables/
sender\comparison_runs/
sender\download_imp/
sender\webapp/

sender/comparison_runs/