doc.txt
*.zip
*.tar.gz
*.log
*.tmp
*.pdf
*.docx
*.xlsx
*.pptx
*.exe
__pycache__/
*.pyc
convert_to_pdf.py
sender/review/
docs/
# Specific files to ignore
improvement*
notebooks/
download/
sender/rsna_subset_500/
sender/reports/
sender/report_tables/
sender/comparison_runs/
sender/download_imp/
sender/webapp/